.modal-mask {
    opacity: 0;
    animation: mask-fade-in 100ms ease-out forwards;
}

/* 容器：负责裁切 */
.modal-reveal {
    overflow: hidden;
    /* 用 clip-path 做裁切 */
    clip-path: inset(0 100% 0 0);
    animation: modal-reveal-in 100ms forwards;
}

@keyframes mask-fade-in {
    to {
        opacity: 1;
    }
}

@keyframes modal-reveal-in {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}